<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @homepage.title %>
</p>

<p>
  <b>Body:</b>
  <%= @homepage.body %>
</p>


<%= link_to 'Edit', edit_homepage_path(@homepage) %> |
<%= link_to 'Back', homepages_path %>
